{% extends "base.html.twig" %}

{% block html_title %}Pantry Pal{% endblock %}

{% block body_class %}has-navbar-fixed-top{% endblock %}

{% block page_content %}
    {{ include("includes/nav-bar.html.twig") }}
    <div class="container py-5 px-3">
        {% block main_content %}

        {% endblock %}
    </div>
{% endblock %}